[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	branch = master
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai
	branch = master
[submodule "vim/bundle/vim-kolor"]
	path = vim/bundle/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
	branch = master
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
	branch = master
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:chieftainblackbear/oh-my-zsh.git
	branch = master
[submodule "git/gitignore"]
	path = git/gitignore
	url = https://github.com/github/gitignore
